<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>Lista Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">

        <script type="text/javascript" src="vendor/js/angular.min.js"></script>

        <script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>

        <link rel="stylesheet" type="text/css" href="vendor/sweetalert/sweetalert.css">

        <script type="text/javascript" src="js/myApp.js"></script>

        <script type="text/javascript" src="js/controller/UsuarioController.js"></script>

        <script type="text/javascript" src="js/factory/UsuarioFactory.js"></script>

    </head>
    <body ng-controller = "UsuarioController" ng-init="buscaUsuarios()">
        <div class="container">
            <div class="row">
                <div ng-hide="editando"class="col-xs-12">
                    <h1>Cadastro</h1>
                </div>
                <div ng-show="editando" class="col-xs-12">
                    <h1>Editar</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <form ng-submit="cadastroUsuario(usuario)">
                        <div class="form-group" >
                            <label class="control-label">Nome: </label>
                            <input class="form-control" ng-model="usuario.nome"type="text"
                                   placeholder="Digite seu Nome">
                        </div>

                        <div class="form-group" >
                            <label class="control-label">IdGrupo: </label>
                            <input class="form-control" ng-model="usuario.IdGrupo"type="text"
                                   placeholder="Digite seu IdGrupo">
                        </div>
                        <div class="form-group" >
                            <label class="control-label">Login: </label>
                            <input class="form-control" ng-model="usuario.Login"type="text"
                                   placeholder="Digite seu Login">
                        </div>

                        <div class="form-group" >
                            <label class="control-label">Senha: </label>
                            <input class="form-control" ng-model="usuario.senha"type="password"
                                   placeholder="Digite sua Senha">
                        </div>

                        <div class="form-group" >
                            <label class="control-label">Ativo: </label>
                            <input class="form-control" ng-model="usuario.flagInativo"type="text"
                                   placeholder="Digite seu ativo">
                        </div>
                        <button class="btn btn-primary " ng-show="editando" type="submit" > 
                            <i class = "glyphicon glyphicon-floppy-disk"></i></button>
                        <button class="btn btn-primary " ng-hide="editando" type="submit"> 
                            <i class = "glyphicon glyphicon-floppy-disk"></i></button>

                    </form>
                </div>
                <div class="col-xs-9">
                    <div>
                        <h1>Lista Usuario </h1>
                        <div>
                            <table class="table table-striped">
                                <thead> 
                                    <tr>
                                        <th>IdUsuario</th>
                                        <th>IdGrupo</th>
                                        <th>Login</th>
                                        <th>nome</th>
                                        <th>Ativo</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dados">
                                        <td>{{item.IdUsuario}}</td>
                                        <td>{{item.IdGrupo}}</td>
                                        <td>{{item.Login}}</td>
                                        <td>{{item.nome}}</td>
                                        <td>{{item.Ativo}}</td>
                                        <td>
                                            <button class="btn btn-success" ng-click=" editarUsuario(item)"> 
                                                <i class="glyphicon glyphicon-pencil"></i></button>

                                            <button class="btn btn-danger" ng-click=" deleteUsuario(item)">
                                                <i class = "glyphicon glyphicon-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
